<div class="container" style="margin-top:30px;">
    <h1>管理员 </h1>

<div class="bootstrap-table">>
<table id="table"
       data-toggle="table"
       data-height="460"
       data-sort-name="name"
>
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">园区</th>
            <th data-field="address" data-sortable="true">地址</th>
            <th>电话</th>
            <th data-sortable="true">危险物各类</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {{ range .Parks }}
        <tr>

          <td>{{ .ID }}</td>
           <td>{{ .Name }}</td>
          <td>{{ .Address }}</td>
          <td>{{ .Tel }}</td>
           <td>{{ .Species }}</td>
          <td><p><a class="btn btn-primary" href="/park/{{ .ID }}" role="button">查看详情 »</a></p></td>
      </tr>

       {{ end }}


        <tr>
            <th scope="row">1</th>
            <td>Abby</td>
            <td>Barrett</td>
            <td>@abbeme</td>
            <td>
                <a class="blue-text"><i class="fa fa-user"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Danny</td>
            <td>Collins</td>
            <td>@dennis</td>
            <td>
                <a class="blue-text"><i class="fa fa-user"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Clara</td>
            <td>Ericson</td>
            <td>@claris</td>
            <td>
               <a class="blue-text"><i class="fa fa-user"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">添加园区</h4>
      </div>
      <div class="modal-body">
          <form class="form-group" action="/addpark" method="post">
              <div class="form-group row">
                  <label for="species" class="col-md-offset-1 col-xs-3 col-form-label">名称</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="text"  id="name" name="name" >
                  </div>
              </div>
              <div class="form-group row">
                  <label for="max" class="col-md-offset-1 col-xs-3 col-form-label">地址ֵ</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="text"  id="address" name="address" >
                  </div>
              </div>
              <div class="form-group row">
                  <label for="min" class="col-md-offset-1 col-xs-3 col-form-label">电话</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="number" id="tel" name="tel" >
                  </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" id="submit" class="btn btn-warning">提交</button>
              </div>
          </div>
      </div>

    </div>

  </div>
</div>
</div>
