<div class="container" style="margin-top:30px;">
    <h1>管理员 </h1>

<div class="bootstrap-table">>
<table id="table"
       data-toggle="table"
       data-height="460"
       data-url="/adminjson"
       data-pagination="true"
       data-detail-view="true"
       data-detail-formatter="detailFormatter"
       data-sort-name="ID"
>
    <thead>
        <tr>
            <th data-field="ID" data-sortable="true">ID</th>
            <th data-field="Name" data-sortable="true">园区</th>
            <th data-field="Address" data-sortable="true">地址</th>
            <th data-field="Tel">电话</th>
            <th data-field="Species" data-sortable="true">危险物各类</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">添加园区</h4>
      </div>
      <div class="modal-body">
          <form class="form-group" action="/addpark" method="post">
              <div class="form-group row">
                  <label for="species" class="col-md-offset-1 col-xs-3 col-form-label">名称</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="text"  id="name" name="name" >
                  </div>
              </div>
              <div class="form-group row">
                  <label for="max" class="col-md-offset-1 col-xs-3 col-form-label">地址ֵ</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="text"  id="address" name="address" >
                  </div>
              </div>
              <div class="form-group row">
                  <label for="min" class="col-md-offset-1 col-xs-3 col-form-label">电话</label>
                  <div class="col-xs-6">
                      <input class="form-control" type="number" id="tel" name="tel" >
                  </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" id="submit" class="btn btn-warning">提交</button>
              </div>
          </div>
      </div>

    </div>

  </div>
</div>
</div>


<script>

    $(function() {
     var options = {
         filterValues: {
             price: "$2"
         },
         url: "../json/data1.json",
         columns: [{
             field: "ID",
             title: "ID",
             filter: {
                 type: "input"
             }
         }, {
             field: "name",
             title: "Item Name",
             filter: {
                 type: "select",
                 data: []
             }
         }, {
             field: "price",
             title: "Item Price",
             filter: {
                 type: "select",
                 data: ["$1", "$2", "$3"]
             }
         }],
         filter: true
     };

 var $table = $("#table").bootstrapTable(options);
 $table.bootstrapTable("setFilterData", "name", ["item 1", "item 2", "item 3"]);
});

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            if(key != "Nodes")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }
</script>

<!-- <script>
       $(function() {
           var options = {
               filterValues: {
                   price: "$2"
               },
               url: "../json/data1.json",
               columns: [{
                   field: "id",
                   title: "ID",
                   filter: {
                       type: "input"
                   }
               }, {
                   field: "name",
                   title: "Item Name",
                   filter: {
                       type: "select",
                       data: []
                   }
               }, {
                   field: "price",
                   title: "Item Price",
                   filter: {
                       type: "select",
                       data: ["$1", "$2", "$3"]
                   }
               }],
               filter: true
           };

           var $table = $("#table").bootstrapTable(options);
           $table.bootstrapTable("setFilterData", "name", ["item 1", "item 2", "item 3"]);
       });
   </script> -->
