
<div class="container">
    <!--  {% block content %}{% endblock content %} -->
    <!-- {% block js %}{% endblock js %} -->
</div>


<!-- Section: intro -->
<section id="intro" class="intro">

    <div class="slogan">
        <h2>物联网化工园区危险源 <span class="text_color">监测</span> </h2>
        <h4>我们是一个专业的团队</h4>
    </div>
    <div class="page-scroll">
        <a href="#service" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>关于我们</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Anna Hanaceck</h5>
                            <p class="subtitle">Pixel Crafter</p>
                            <div class="avatar"><img src="/static/img/team/1.jpg" alt="" class="img-responsive img-circle" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.5s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Maura Daniels</h5>
                            <p class="subtitle">Ruby on Rails</p>
                            <div class="avatar"><img src="/static/img/team/2.jpg" alt="" class="img-responsive img-circle" /></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.8s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Jack Briane</h5>
                            <p class="subtitle">jQuery Ninja</p>
                            <div class="avatar"><img src="/static/img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="1s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Tom Petterson</h5>
                            <p class="subtitle">Typographer</p>
                            <div class="avatar"><img src="/static/img/team/4.jpg" alt="" class="img-responsive img-circle" /></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->





<!-- Section: services -->
<section id="service" class="home-section text-center bg-gray">

    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>数据监测</h2>
                            <i class="fa fa-2x fa-angle-down"></i>


                            <div id="humi-chart"></div>
                            <script src="/static/js/humi_graphic.js"></script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- /Section: services -->




<!-- Section: contact -->

<!-- /Section: contact -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>

  				</div>
  			</div>
  		</div>
